* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "gilroy";
}
html,
body {
  width: 100%;
  height: 100%;
}
#main {
  width: 100%;
  height: 100%;
  /* background-color: red; */
}
#nav {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 200px;
  /* background-color: black; */
}
#nav1 {
  display: flex;
  align-items: center;

  width: 60%;
  height: inherit;
  background-color: #fff;
}
#nav2 {
  display: flex;
  align-items: center;
  width: 40%;
  height: inherit;
  background-color: #fff;
}
#img {
  margin-left: 60px;
  width: 60px;
  object-fit: contain;
}
#img img {
  width: 100%;
}
#nav1 h1 {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-left: 30px;
}
#nav1 button {
  display: flex;
  align-items: center;
  margin-left: 280px;
  background-color: #f8f6fc;
  color: rgb(172, 164, 164);
  border: none;
  border-radius: 20px;
  padding: 15px 30px;
  font-size: 15px;
}
#nav1 button i {
  margin-right: 20px;
  font-size: 22px;
}
#nav2 h1 {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 0.6px;
  margin-left: 400px;
}
#nav2 h1 i {
  margin-left: 15px;
}
#bottom {
  width: 100%;
  height: 75%;
  /* background-color: black; */
}
.box {
  margin-left: 40px;
  margin-top: 100px;
  display: inline-block;
  width: 300px;
  height: 300px;
  /* background-color: green; */
  border-radius: 30px;
}
#box1 {
  color: #fff;

  position: relative;
  background: rgb(255, 175, 1);
  box-shadow: 2px 0px 64px -29px rgb(255, 175, 1);
  background: linear-gradient(
    90deg,
    rgba(255, 175, 1, 1) 31%,
    rgba(255, 211, 110, 1) 100%
  );
}
#box2 {
  color: #fff;
  position: relative;
  box-shadow: 2px 0px 67px -29px rgb(255, 124, 6);
  background: rgb(255, 124, 6);
  background: linear-gradient(
    90deg,
    rgba(255, 124, 6, 1) 31%,
    rgba(254, 149, 107, 1) 100%
  );
  height: 200px;
}
#box3 {
  position: relative;
  box-shadow: 2px 0px 67px -29px rgb(52, 158, 196);
  background: rgb(52, 158, 196);
  background: linear-gradient(
    90deg,
    rgba(52, 158, 196, 1) 31%,
    rgba(72, 186, 217, 1) 100%
  );
  height: 250px;
}
#box4 {
  position: relative;
  box-shadow: 2px 0px 67px -29px rgb(255, 135, 133);
  background: rgb(255, 135, 133);
  background: linear-gradient(
    90deg,
    rgba(255, 135, 133, 1) 31%,
    rgba(255, 146, 152, 1) 100%
  );
  height: 350px;
}
#box1 #img1 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
#box1 h1 {
  color: #fdf9f9;
  font-size: 40px;
  position: absolute;
  bottom: 20%;
  left: 15%;
}
#box1 h5 {
  color: #f8f1e5;
  font-size: 15px;
  left: 15%;
  position: absolute;
  bottom: 15%;
}
#box2 #img2 {
  position: absolute;
  top: -60%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}
#box2 h1 {
  color: #ffeee9;
  letter-spacing: 0.3px;
  font-size: 40px;
  position: absolute;
  bottom: 25%;
  left: 15%;
}
#box2 h5 {
  color: #fff6f1;
  letter-spacing: 0.5px;
  font-size: 15px;
  left: 15%;
  position: absolute;
  bottom: 20%;
}
#box3 #img3 {
  position: absolute;
  top: -8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
}
#box3 h1 {
  color: #cdf6fc;
  letter-spacing: 0.3px;
  font-size: 40px;
  position: absolute;
  bottom: 25%;
  left: 15%;
}
#box3 h5 {
  color: #e7f3f7;
  letter-spacing: 0.5px;
  font-size: 15px;
  left: 15%;
  position: absolute;
  bottom: 20%;
}
#box4 #img4 {
  position: absolute;
  top: 15%;
  left: 65%;
  transform: translate(-50%, -50%);
  width: 90%;
}
#box4 h1 {
  color: #faedf3;
  letter-spacing: 0.3px;
  font-size: 40px;
  position: absolute;
  bottom: 20%;
  left: 15%;
}
#box4 h5 {
  color: #f4e7e7;
  letter-spacing: 0.5px;
  font-size: 15px;
  left: 15%;
  position: absolute;
  bottom: 15%;
}
#botty {
  display: flex;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 100px;
  /* background-color: black; */
}
#n1{
    display: flex;
    width: 60%;
height: inherit;
}
#n2{
    display: flex;
   
    margin-left: 290px;
    width: 40%;
}
#n1 h1 {

  margin-top: 30px;
  margin-left: 80px;
  font-size: 20px;
  font-weight: 500;
  color: grey;
}

#n2 h1 {
    display: flex;
    align-items: center;

    margin-top: -10px;
    margin-left: 80px;
    font-size: 20px;


  }